@model EducationSalvation.Models.CreatableAdditionalUserInfo

@{
    ViewBag.Title = "CreateAdditionalUserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateAdditionalUserInfo</h2>


<div ng-app="educationModule" ng-controller="UserInfoController as user" ng-init="user.getUserInfo('@Newtonsoft.Json.JsonConvert.SerializeObject(Model)')">
    <form name="headerForm" novalidate>
        <div class="form-group">
            <label for="titleInput">Nickname</label>
            <input type="text" class="form-control" ng-model="user.info.Nickname" name="nickname">
            <button ng-click="user.checkUniqueness()">{{user.uniqueCheckingLabel}}</button>
        </div>

        <div class="form-group">
            <label for="titleInput">First Name</label>
            <input type="text" class="form-control" ng-model="user.info.FirstName" name="firstname">
        </div>

        <div class="form-group">
            <label for="titleInput">Last Name</label>
            <input type="text" class="form-control" ng-model="user.info.LastName" name="lastname">
        </div>

        <div class="form-group">
            <label for="titleInput">Age</label>
            <input type="number" class="form-control" ng-model="user.info.Age" name="age">
        </div>

        <div class="form-group">
            <label for="titleInput">Gender</label>
            <select class="form-control" ng-model="user.info.Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Secret">Secret</option>
            </select>
        </div>

        <div class="form-group">
            <label for="titleInput">Location</label>
            <input type="text" class="form-control" ng-model="user.info.Location" name="location">
        </div>

        <div class="form-group">
            <label for="titleInput">Interests</label>
            <textarea type="text" class="form-control" ng-model="user.info.Interests" id="titleInput" name="title"></textarea>
        </div>

        <button ng-click="user.sendUserInfo()">Create</button>
    </form>
</div>