
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="educationModule" ng-controller="PostController as post" ng-init="post.PublicationInit(@ViewBag.PublicationIndex)">

    <div class="panel panel-default">
        <div id="content" class="panel-body">
            <div id="templateHeader">
                <h1 id="title">{{post.publication.Title}}</h1>
                <h4 id="description">{{post.publication.Description}}</h4>
                <h4>
                    <span class="label label-default" ng-repeat="tag in post.publication.Tags">{{tag}}</span>
                </h4>
            </div>
            <div id="template_body">
                <img src="{{post.publication.Images[0]}}" class="img-rounded" />
                <wiz-markdown content="post.publication.Markdown"></wiz-markdown>
                <youtube-video video-id="post.publication.Videos[0]"></youtube-video>
            </div>
        </div>

        <div class="panel-footer">
            <a ng-href="/Manage/Profiles/{{post.publication.Author}}">{{post.publication.Author}}</a> on
            <span>{{post.publication.Date}}</span>
            @*User rating:{{post.publication.Stars}}
            @if (User.Identity.IsAuthenticated)
            {
                <div ng-hide="post.publication.IsUserAlreadyGraduateIt">
                    <input id="rangeInput" type="range" ng-model="post.range" min="1" max="10"> <span>{{post.range}}</span>
                    <button ng-click="post.sendGrade()">Graduate!</button>
                </div>
            }*@
            <input-stars max="10" ng-show="post.publication.IsUserAlreadyGraduateIt"
                         ng-model="post.range"
                         readonly="true">
            </input-stars>
            <input-stars max="10" ng-hide="post.publication.IsUserAlreadyGraduateIt"
                         ng-model="post.range"
                         ng-click="post.sendGrade()">
            </input-stars> <span>{{post.publication.Stars}}</span>
        </div>
    </div>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <textarea class="form-control" placeholder="type your opinion" ng-model="post.commentContent" rows="4" cols="70"></textarea>
                <button class="btn btn-default" ng-click="post.sendComment()">Send</button>
            </div>
        }

        <div class="panel panel-default" ng-repeat="comment in post.publication.Comments">
            <div class="panel-heading">
                <a ng-href="/Manage/Profiles/{{comment.Author}}">{{comment.Author}}</a> on
                <span>{{comment.Date}}</span>
            </div>
            <div class="panel-body">
                {{comment.Content}}
            </div>
            <div class="panel-footer">
                <span>{{comment.Rating}} Likes</span>
                @if (User.Identity.IsAuthenticated)
                {
                    <button ng-hide="comment.IsUserAlreadyLikedIt" ng-click="post.likeComment(comment.Id)">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                }
            </div>
        </div>
        
    </div>
</div>

